In [2]:
import pandas as pd

df = pd.read_csv('imdb_top_1000.csv')

df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BOTAzOD...,Star Wars: Episode VII - The Force Awakens,2015,U,138 min,"Action, Adventure, Sci-Fi",7.9,"As a new threat to the galaxy rises, Rey, a de...",80,J.J. Abrams,Daisy Ridley,John Boyega,Oscar Isaac,Domhnall Gleeson,860823,"936,662,225"
1,https://m.media-amazon.com/images/M/MV5BMTc5MD...,Avengers: Endgame,2019,UA,181 min,"Action, Adventure, Drama",8.4,After the devastating events of Avengers: Infi...,78,Anthony Russo,Joe Russo,Robert Downey Jr.,Chris Evans,Mark Ruffalo,809955,"858,373,000"
2,https://m.media-amazon.com/images/M/MV5BMTYwOT...,Avatar,2009,UA,162 min,"Action, Adventure, Fantasy",7.8,A paraplegic Marine dispatched to the moon Pan...,83,James Cameron,Sam Worthington,Zoe Saldana,Sigourney Weaver,Michelle Rodriguez,1118998,"760,507,625"
3,https://m.media-amazon.com/images/M/MV5BMjMxNj...,Avengers: Infinity War,2018,UA,149 min,"Action, Adventure, Sci-Fi",8.4,The Avengers and their allies must be willing ...,68,Anthony Russo,Joe Russo,Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo,834477,"678,815,482"
4,https://m.media-amazon.com/images/M/MV5BMDdmZG...,Titanic,1997,UA,194 min,"Drama, Romance",7.8,A seventeen-year-old aristocrat falls in love ...,75,James Cameron,Leonardo DiCaprio,Kate Winslet,Billy Zane,Kathy Bates,1046089,"659,325,379"

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 844 entries, 0 to 843
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    844 non-null    object
 1   Series_Title   844 non-null    object
 2   Released_Year  844 non-null    int64
 3   Certificate    844 non-null    object
 4   Runtime        844 non-null    object
 5   Genre          844 non-null    object
 6   IMDB_Rating    844 non-null    float64
 7   Overview       844 non-null    object
 8   Meta_score     844 non-null    int64
 9   Director       844 non-null    object
 10  Star1          844 non-null    object
 11  Star2          844 non-null    object
 12  Star3          844 non-null    object
 13  Star4          844 non-null    object
 14  No_of_Votes    844 non-null    int64
 15  Gross          844 non-null    object
dtypes: float64(1), int64(3), object(12)
memory usage: 105.6+ KB

In [4]:
df["Released_Year"] = df["Released_Year"].astype(int)

In [5]:
df["Runtime"] = df["Runtime"].str.replace(" min", "").astype(int)

In [6]:
df["Gross"] = df["Gross"].astype(int)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 844 entries, 0 to 843
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    844 non-null    object
 1   Series_Title   844 non-null    object
 2   Released_Year  844 non-null    int32
 3   Certificate    844 non-null    object
 4   Runtime        844 non-null    int32
 5   Genre          844 non-null    object
 6   IMDB_Rating    844 non-null    float64
 7   Overview       844 non-null    object
 8   Meta_score     844 non-null    int64
 9   Director       844 non-null    object
 10  Star1          844 non-null    object
 11  Star2          844 non-null    object
 12  Star3          844 non-null    object
 13  Star4          844 non-null    object
 14  No_of_Votes    844 non-null    int64
 15  Gross          844 non-null    float64
dtypes: float64(2), int32(2), int64(2), object(10)
memory usage: 99.0+ KB